{% extends 'base.html' %}

{% block content %}
<h1 class="make-dish">Cook list</h1>
{% include 'includes/search_form.html' %}
{% if cook_list %}
<table class="table table-bordered table-hover shadow-lg bg-white mt-5">
  <thead>
  <tr>
    <th>ID</th>
    <th>Full name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Work experience</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for cook in cook_list %}
  <tr>
    <td>{{ cook.id }}</td>
    <td>
      <a href="{{ cook.get_absolute_url }}">
        {{ cook.first_name }} {{ cook.last_name }}
      </a>
    </td>
    <td>{{ cook.username}}</td>
    <td>{{ cook.email }}</td>
    <td>{{ cook.years_of_experience }}</td>
    <td>
      <a href="{% url 'restaurant:cook-update' cook.id %}">Update</a>
    </td>
    <td>
      <a href="{% url 'restaurant:cook-delete' cook.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no cooks</p>
{% endif %}
<div class="make-dish">
  <p><b>Create a new profile</b></p>
  <a href="{% url 'restaurant:cook-create' %}" class="btn btn-success btn-lg">Create</a><br/>
</div>
{% endblock %}
