{% extends 'base.html' %}
{% block content %}
{% load price_formatters %}
<div class="make-dish mt-5">
  <h5><span class="more-space">
      <strong> Dish:</strong>
      {{ dish.name }}
    </span>
    <span>
        {% if dish in user.dishes.all %}
          <a href="{% url 'restaurant:toggle-dish-assign' dish.id %}"
             class="btn btn-danger">Delete me from this dish</a>
        {% else %}
          <a href="{% url 'restaurant:toggle-dish-assign' dish.id %}" class="btn btn-success">Assign me to this dish</a>
        {% endif %}
      </span>
  </h5>
  <h5>Dish type:</h5>
  <h6>
    <a href="{% url 'restaurant:dish-type-detail' dish.dish_type.id %}">{{ dish.dish_type }}</a>
  </h6>
  <h5>Price: {{ dish.price | currency_euro }}</h5>
  <h5>Description</h5>
  <div class="contain-text">
    <p>{{ dish.description }}</p>

  </div>
  <h5>
    <span>Cooks preparing this dish</span>
  </h5>

  {% for cook in dish.cooks.all %}
  <h5><a href="{% url 'restaurant:cook-detail' cook.id %}">{{ cook.username }}</a></h5>
  {% empty %}
  <h5>There are no cooks</h5>

  {% endfor %}

  <br>
  <a href="{% url 'restaurant:dish-update' dish.id %}" class="btn btn-primary">Update</a>
  <a href="{% url 'restaurant:dish-delete' dish.id %}" class="btn btn-danger">Delete</a>
</div>

{% endblock %}
