{% extends 'base.html' %}

{% block content %}
<h1>All Dishes</h1>
{% load price_formaters %}
{% if dish_list %}
<table class="table table-bordered table-hover shadow-lg bg-white mt-5">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Dish Type</th>
    <th>Cook</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for dish in dish_list %}
  <tr>
    <td>{{ dish.id }}</td>
    <td>{{ dish.name }}</td>
    <td>{{ dish.price|currency_euro }}</td>
    <td>{{ dish.dish_type.name}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no dishes</p>
{% endif %}
{% endblock %}
